* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #141414;
  color: white;
}

main {
  width: 100vw;
  min-height: 100svh;
  position: relative;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0;
  left:0;
  z-index: 999;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  .line {
    width: 0;
    height: 1px;
    background: white;
  }
  .loading-progress {
    position: relative;
    overflow: hidden;
    width: 15vw;
    height: 8vw;
    h1 {
      text-align: left;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 100%;
      font-size: 8vw;
      line-height: 8vw;
    }
  }
}

.selectors {
  opacity: 0;
  z-index: 1000;
  width: 170px;
  height: 200px;
  position: absolute;
  bottom: 50px;
  right: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .selector {
    padding: 5px;
    border-radius:50px;
    width: 100%;
    border: 1px solid white;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: .7;
    transition: all .3s ease-in;
    cursor: pointer;
    .color-indicator {
      height: 100%;
      aspect-ratio: 1;
      background: yellow;
      border-radius: 50%;
      border: 1px solid white;
    }
    .text {
      flex: 1;
      text-align: center;
      text-transform: uppercase;
      text-align: left;
      padding-left: 30px;
    }
    &.selected {
      opacity: 1;
      background: white;
      color: black;
    }
  }
}

.hero {
  height: 100svh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  .huge-text {
    position: relative;
    overflow: hidden;
    height: 18vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
    h1 {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #413e3e;
      font-size: 22vw;
      line-height: 18vw;
      font-weight: 600;
      text-align: center;
    }
  }
  .counter-container {
    flex: 1;
    padding-inline: 1.8vw;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .counter {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      .slace {
        height: 10vw;
        width: 10px;
        font-size: 10vw;
        line-height: 8vw;
      }
      .count {
        position: relative;
        overflow: hidden;
        height: 8vw;
        width: 100%;
        h1 {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0, -50%);
          width: fit-content;
          font-size: 10vw;
          line-height: 8vw;
        }
      }
    }
  }
}


@media (max-width:500px) {
  .selectors {
    width: 200px;
    bottom: 10px;
  }
}